<?xml version="1.0" encoding="utf-8"?>
<robot name="camera_manfrotto" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="gazebo" default="false"/>

  <!-- Depth cameras -->
  <xacro:include filename="$(find kuka_control)/models/camera/asus_camera.urdf.xacro" />
  <xacro:include filename="$(find kuka_control)/models/camera/kinect_camera.urdf.xacro" />

  <!-- Manfrotto PTU base -->
  <xacro:include filename="$(find kuka_control)/models/manfrotto/manfrotto.xacro" />

 <!--  Manfrotto 1 (mf1) -->
  <xacro:manfrotto name="mf1" parent="cell_link" r1="${M_PI-24.0*M_PI/180.0}" r2="${-31.5*M_PI/180.0}" r3="${(27.1-13.5)*M_PI/180.0}">
    <origin xyz="0.95 -1.01 1.015" rpy="0 ${90.0*M_PI/180.0} ${M_PI}" />
  </xacro:manfrotto>

 <!--  Manfrotto 2 (mf2) 19.3-->
  <xacro:manfrotto name="mf2" parent="cell_link" r1="${(9.5-0.2)*M_PI/180.0+M_PI}" r2="${34.5*M_PI/180.0}" r3="${(39.5-18.0)*M_PI/180.0}">
    <origin xyz="-0.95 -1.01 1.015" rpy="0 ${90.0*M_PI/180.0} 0" />
  </xacro:manfrotto>

 <!--  Manfrotto 3 (mf3) -->
  <xacro:manfrotto name="mf3" parent="cell_link" r1="${43.3*M_PI/180.0+45.0*M_PI/180.0}" r2="${0.0*M_PI/180.0}" r3="${(42.5+17.2)*M_PI/180.0}">
    <origin xyz="-0.015 1.02 1.295" rpy="${180.0*M_PI/180.0} 0 ${180.0*M_PI/180.0}" />
  </xacro:manfrotto>

 <!--  Kinect sensors -->
  <xacro:kinect_camera name="camera1" parent="mf1_frame" gazebo="$(arg gazebo)">
    <origin xyz="0.06 0 0.047" rpy="0 ${0.9*M_PI/180.0} ${4.4*M_PI/180.0}" />
  </xacro:kinect_camera>

  <xacro:kinect_camera name="camera2" parent="mf2_frame" gazebo="$(arg gazebo)">
    <origin xyz="0.057 0 0.047" rpy="${0.3*M_PI/180.0} ${-0.1*M_PI/180.0} ${-0.1*M_PI/180.0}" />
  </xacro:kinect_camera>

  <xacro:kinect_camera name="camera3" parent="mf3_frame" gazebo="$(arg gazebo)">
    <origin xyz="0.055 0 0.047" rpy="${2.5*M_PI/180.0} ${-2.2*M_PI/180.0} ${1.4*M_PI/180.0}" />
  </xacro:kinect_camera>

</robot>
