<?xml version="1.0"?>
<robot name="ft_tool" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- Include brida model -->
  <xacro:include filename="$(find kuka_control)/models/brida/brida.xacro"/>

  <xacro:brida parent="tool0" name="brida">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:brida>
  
  <!-- Include the force-torque-sensor model -->
  <xacro:include filename="$(find kuka_control)/models/ft_sensor/ft_sensor_ati.urdf.xacro"/>

  <xacro:ft_sensor_axia80_real parent="brida_link" name="axia80" type="axia80">
    <origin xyz="0 0 0.019" rpy="0 0 0"/>
  </xacro:ft_sensor_axia80_real>
  
  <!-- Include the force-torque-sensor model -->
  <!--<xacro:include filename="$(find sensor_description)/urdf/ft_sensor_ati.urdf.xacro"/>

  <xacro:ft_sensor_ft45 parent="brida_link" name="axia80" type="ft45">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ft_sensor_ft45>-->
  
  <!-- Include tool model -->
  <xacro:include filename="$(find kuka_control)/models/tool/tool.xacro"/>

  <xacro:tool parent="axia80_ft_measure" name="tool">
    <origin xyz="0 0 0.013" rpy="0 0 0"/>
  </xacro:tool>
  
  <!-- Include Realsense D435 camera frame -->
  <xacro:include filename="$(find kuka_control)/models/realsense/realsense_d435.xacro" />

  <xacro:realsense parent="brida_link" name="camera">
   <!--   <origin xyz="0.0739 -0.0306 0.01" rpy="0 ${-M_PI/2} ${M_PI-M_PI/8}" />-->
	<origin xyz="0.13 0.05 0.025" rpy="${-2.0*M_PI/180} ${-M_PI/2+30.0*M_PI/180} ${M_PI+M_PI/8-5.0*M_PI/180}" />
  </xacro:realsense>


</robot>
